:root { font-size: 14px; }
body {
    background: #080534;
    color: #FFFFFF;
    font-family: 'Saira', sans-serif;
}

a, a:hover {
    text-decoration: none !important;
}

#home {
    min-height: 100vh;
    background: url('../assets/img/hero-bg.svg');
    background-size: cover;
    background-position: center;
}

#genre {
    min-height: 100vh;
    background: url('../assets/img/genre-bg.svg');
    background-size: cover;
    background-position: center;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    max-height: 100vh;
    background: #040216;
    transition: all .5s;
    z-index: 10;
    margin-top: -100vh;
}

.nav a  { 
    color: #FFFFFF; 
}

.nav a.active { 
    color: #5E6EFF; 
    font-weight: 700; 
}

.nav.active {
    margin-top: 0;
}

.circle-slider {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 340px;
    overflow: hidden;
}

.circle-slider-block {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: inline-block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transition: all .8s;
}

.circle-slider-icon {
    transition: all .8s;
}

.circle-slider-icon img {
    width: 60px;
}

.circle-slider-block.active {
    top: 58%;
    position: relative;
    transform: translateX(-50%) rotate(0deg) !important;
}
.circle-slider-block.active > .circle-slider-icon {
    transform: scale(2) !important;
}

.circle-slider-icon .circle-slider-text {
    opacity: 0;
    transition: all 1s;
    font-family: 'Syncopate';
    font-weight: 700;
}

.circle-slider-block.active > .circle-slider-icon > .circle-slider-text {
    opacity: 1;
    transform: scale(.7) !important;
    margin-top: 2px !important;
}


.circle-slider-arrow {
    position: absolute;
    bottom: 20%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(24px);
    padding: 8px;
    border-radius: 50%;
}

.circle-slider-arrow-left {
    left: 15%;
}
.circle-slider-arrow-right {
    right: 15%;
}

/* `sm` applies to small devices (landscape phones, less than 576px) */
@media (min-width: 576px) {
    
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
    
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
    
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
    
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
    
}

/* `xxxl` applies to x-large devices (large desktops, less than 1900px) */
@media (min-width: 1900px) {
    
}
