:root { font-size: 14px; }
body {
    background: #080534;
    color: #FFFFFF;
    font-family: 'Saira', sans-serif;
}


html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}
.c-scrollbar:hover {
    transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
    opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}


a, a:hover {
    text-decoration: none !important;
}

.bg-lottie {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    z-index: -1;
}

.bg-lottie-outer {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#home {
    min-height: 100vh;
    /* background: url('../assets/img/hero-bg.svg'); */
    background-size: cover;
    background-position: center;
}

#genre {
    min-height: 100vh;
    /* background: url('../assets/img/genre-bg.svg'); */
    background-size: cover;
    background-position: center;
}

#earn {
    min-height: 100vh;
    background: url('../assets/img/earn-bg.svg');
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}

#craft {
    min-height: 100vh;
    /* background: url('../assets/img/craft-trade-bg.png'); */
    background-size: cover;
    background-position: left;
    padding-top: 3em;
}

#tokenomics {
    min-height: 100vh;
    /* background: url('../assets/img/tokenomic-bg.svg'); */
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}

#x-online {
    min-height: 100vh;
    /* background: url('../assets/img/x-online-bg.svg'); */
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}

#roadmap {
    min-height: 100vh;
    /* background: url('../assets/img/roadmap-bg.svg'); */
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}
#team {
    min-height: 100vh;
    background: url('../assets/img/team-bg.svg');
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    max-height: 100vh;
    background: #040216;
    transition: all .5s;
    z-index: 11;
    margin-top: -100vh;
}

.nav a  { 
    color: #FFFFFF; 
}

.nav a.active { 
    color: #5E6EFF; 
    font-weight: 700; 
}

.nav.active {
    margin-top: 0;
}

.nav ul {
    list-style: none !important;
}

.circle-slider {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 340px;
    overflow: hidden;
}

.circle-slider-block {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: inline-block;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    transition: all .8s;
}

.circle-slider-icon {
    transition: all .8s;
}

.circle-slider-icon img {
    width: 60px;
}

.circle-slider-block.active {
    top: 50%;
    position: relative;
    transform: translateX(-50%) rotate(0deg) !important;
}
.circle-slider-block.active > .circle-slider-icon {
    transform: scale(2) !important;
}

.circle-slider-icon .circle-slider-text {
    opacity: 0;
    transition: all 1s;
    font-family: 'Syncopate';
    font-weight: 700;
}

.circle-slider-block.active > .circle-slider-icon > .circle-slider-text {
    opacity: 1;
    transform: scale(.7) !important;
    margin-top: 2px !important;
}


.circle-slider-arrow {
    position: absolute;
    bottom: 28%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(24px);
    padding: 8px;
    border-radius: 50%;
}

.circle-slider-arrow-left {
    left: 10%;
}
.circle-slider-arrow-right {
    right: 10%;
}

.genre-box {
    background: url('../assets/img/bg-body-genre.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 100px !important;
    padding-bottom: 50px !important;
    position: relative;
}

.genre-box-title {
    background: url('../assets/img/title-bg-genre.png') no-repeat;
    display: inline-block;
    padding:10px 60px 8px 40px;
    background-size: 100% 100%;
    position: absolute;
    left: -10px;
    top: 40px;
}

.genre-box-square {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.genre-image {
    position: relative;
    width: 150px;
    margin-top: -100px;
    z-index: 5;
}

.box-lottie {
    position: absolute;
    top: 0;
    left: 0;
}


.earn-box {
    /* background: url('../assets/img/bg-body-earn.png') no-repeat; */
    background-size: 100% 100%;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    position: relative;
}

.earn-image {
    position: relative;
    width: 60px;
    z-index: 5;
    margin-top: 20px;
}

.craft-box {
    background: url('../assets/img/bg-body-craft.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 100px !important;
    padding-bottom: 50px !important;
    position: relative;
}

.craft-box-title {
    background: url('../assets/img/title-bg-craft.png') no-repeat;
    display: inline-block;
    padding:10px 60px 8px 40px;
    background-size: 100% 100%;
    position: absolute;
    left: -10px;
    top: 40px;
}

.tokenomics-image {
    width: 150px;
}

.tokenomics-box {
    padding: 3em;
    padding-top: 5em;
    width: 100%;
    background: url("../assets/img/tokenomic-box.png") no-repeat;
    background-size: 100% 100%;
}

.tooltips-chart {
    color: #FFFFFF;
    position: absolute;
    pointer-events: none;
    text-align: right;
    top: -3em;
    right: -1em;
}

.h-chart {
    width: 230px;
    height: 230px;
    display: inline-block;
}

.tooltips-chart div {
    margin-top: 10px;
}

.tooltips-chart-line label {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
}

.tooltips-chart-line span {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
}

.pie-chart-inner::after {
    position: absolute;
    content: url('../assets/img/pie-inner.svg');
    width: 60px;
    top: 47.5%;
    left: 49.5%;
    transform: translate(-50%, -50%);
}
.pie-chart-outer {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    z-index: 0;
}

.x-online-element-1, .x-online-element-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 80%;
}

.x-online-element-2 {
    right: 0;
    left: auto;
}

.x-online-element-1 div {
    padding: 2em;
    background: url('../assets/img/x-online-frame.png') no-repeat;
    background-size: 100% 100%;
}

.x-online-overlay {
    position: absolute;
    background: #080534;
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.line-yellow {
    position: relative;
}

.line-yellow::after {
    content: '';
    position: absolute;
    bottom: -10px;
    background: #CCCC33;
    width: 40px;
    height: 4px;
    left: 0;
}

.bg-team {
    padding: 2em 3em;
    background: url('../assets/img/team-frame.png') no-repeat;
    background-size: 100% 100%;
    padding-bottom: 3em;
    position: relative;
}

.bg-team img {
    transition: all 1s;
}

.bg-team .team-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.bg-team:hover .team-overlay {
    opacity: 1;
}

.bg-quotes-team {
    background: #5F14C4;
    padding: 8px;
    position: relative;
}

.bg-quotes-team::before {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 1L1 1L1 5' stroke='%23CCCC33' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    left: -0.5em;
    top: -0.5em;
}
.bg-quotes-team::after {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 1L5 5' stroke='%23CCCC33' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    right: -0.5em;
    top: -0.5em;

}

.bg-quotes-team-element::before {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1V5H5' stroke='%23CCCC33' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    left: -0.5em;
    bottom: -0.5em;
}
.bg-quotes-team-element::after {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 1V5H1' stroke='%23CCCC33' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    right: -0.5em;
    bottom: -0.5em;
}

.form-xperience {
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(16px);
    border: none;
    outline: none;
    padding: 8px 16px;
    color: #FFFFFF;
    width: 100%;
}
.form-xperience:focus {
    box-shadow: 0px 0px 4px #AD58FF;
}
.img-roadmap-pin {
    position: relative;
    margin-bottom: -35px;
}
.up-down {
    -webkit-animation: updown 4s linear infinite;
	        animation: updown 4s linear infinite;
}

@keyframes updown {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
}

  

/* `sm` applies to small devices (landscape phones, less than 576px) */
@media (min-width: 576px) {
    .tokenomics-box {
        padding: 1rem 5rem;
        padding-top: 3rem;
    }
    .tokenomics-image {
        margin-top: -80px;
    }
    .x-online-element-1 {
        left: -20%;
    }
    .x-online-element-2 {
        left: auto;
        right: -20%;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
    .earn-image {
        width: 47px;
    }
    .matrix::after {
        content: url('../assets/img/matrix-number.svg');
        position: absolute;
        top: 200px;
        right: 10%;
        width: 20%;
        z-index: 10;
    }
    #craft {
        background-position: center;
    }
    .tokenomics-image {
        margin-top: -200px;
    }
    .x-online-element-1 {
        left: -50%;
    }
    .x-online-element-2 {
        left: auto;
        right: -50%;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
    :root {
        font-size: 16px;
    }
    .nav { 
        position: relative;
        margin-top: 0;
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
        background: transparent;
        transition: all .5s;
        min-height: auto;
    }
    
    .nav ul {
        display: block;
        float: right;
    }

    .nav ul li {
        display: inline-block;
    }

    .genre-image {
        margin-top: -90px;
        margin-right: -40px;
    }

    .circle-slider {
        width: 500px;
        height: 500px;
    }
    .circle-slider-block {
        width: 800px;
        height: 800px;
    }
    .circle-slider-icon img {
        width: 80px;
    }
    .circle-slider-arrow-left {
        left: 25%;
    }
    .circle-slider-arrow-right {
        right: 25%;
    }
    #earn {
        padding-top: 8em;
    }
    .earn-image {
        margin-top: 50px;
        width: 65px;
    }
    .matrix::after {
        width: 25%;
        right: 8%;
    }
    .genre-box-title, .craft-box-title {
        left: -49px;
    }
    .circle-slider-icon .circle-slider-text {
        opacity: 1;
        font-size: 12px;
        font-family: 'Saira';
    }

    .circle-slider-icon .circle-slider-text span {
        opacity: 0;
    }

    .circle-slider-block.active .circle-slider-icon .circle-slider-text {
        font-size: 20px;
        font-family: 'Syncopate';
    }
    
    .circle-slider-block.active .circle-slider-icon .circle-slider-text span {
        opacity: 1;
    }
    .tokenomics-box {
        padding: 2rem 5rem;
        padding-top: 3rem;
    }
    .h-chart, .pie-chart-outer {
        width: 300px;
        height: 300px;
    }
    .pie-chart-inner::after {
        width: 130px;
        top: 48.5%;
    }
    .tokenomics-image {
        width: 200px;
        margin-top: -250px;
        padding-bottom: 50px;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
    #earn {
        padding-top: 16em;
    }
    .earn-image {
        margin-top: 40px;
        width: 70px;
    }
    .h-chart, .pie-chart-outer {
        width: 350px;
        height: 350px;
    }
    .pie-chart-inner::after {
        width: 150px;
        top: 48.7%;
        left: 49.8%;
    }
    .tokenomics-box {
        padding-top: 4rem;
    }
    .tokenomics-image {
        width: 250px;
        margin-top: -342px;
        padding-bottom: 50px;
    }
    .x-online-element-1 {
        margin-top: 53px;
        left: -35%;
        width: 75%;
    }
    .x-online-element-2 {
        left: auto;
        right: -35%;
        width: 75%;
    }
    .bg-team {
        min-height: 596px;
        margin-bottom: 20px;
    }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
    .circle-slider {
        width: 700px;
        height: 700px;
    }
    .circle-slider-block {
        width: 1100px;
        height: 1100px;
    }
    .circle-slider-icon img {
        width: 110px;
    }
    .circle-slider-icon .circle-slider-text {
        font-size: 16px;
    }
    .circle-slider-block.active .circle-slider-icon .circle-slider-text {
        font-size: 30px;
    }
    .circle-slider-arrow {
        bottom: 32%;
    }
    .genre-image {
        width: 191px;
    }
    .genre-box, .earn-box, .craft-box {
        padding-bottom: 100px !important;
    }
    .earn-image {
        width: 81px;
    }
    .matrix::after {
        width: 21%;
        right: 18%;
    }
    #home {
        background-position: bottom center;
    }
    #genre {
        background-position: top center;
    }
    .x-online-element-1 {
        margin-top: 20px;
        left: -50%;
        width: 80%;
    }
    .x-online-element-2 {
        left: auto;
        right: -40%;
        width: 100%;
    }
}

/* `xxxl` applies to x-large devices (large desktops, less than 1900px) */
@media (min-width: 1900px) {
    #genre::after {
        bottom: -35vh !important;
    }
    #earn {
        background-position: center 75%;
    }
    .bg-lottie {
        width: 100%;
    }
}
