:root { font-size: 14px; }
body {
    background: #080534;
    color: #FFFFFF;
    font-family: 'Saira', sans-serif;
}

a, a:hover {
    text-decoration: none !important;
}

#home {
    min-height: 100vh;
    background: url('../assets/img/hero-bg.svg');
    background-size: cover;
    background-position: center;
}

#genre {
    min-height: 100vh;
    background: url('../assets/img/genre-bg.svg');
    background-size: cover;
    background-position: center;
}

#earn {
    min-height: 100vh;
    background: url('../assets/img/earn-bg.svg');
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}

#craft {
    min-height: 100vh;
    background: url('../assets/img/craft-trade-bg.png');
    background-size: cover;
    background-position: left;
    padding-top: 5em;
}

#tokenomics {
    min-height: 100vh;
    background: url('../assets/img/tokenomic-bg.svg');
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}

#x-online {
    min-height: 100vh;
    background: url('../assets/img/x-online-bg.svg');
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}

#roadmap {
    min-height: 100vh;
    background: url('../assets/img/roadmap-bg.svg');
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}
#team {
    min-height: 100vh;
    background: url('../assets/img/team-bg.svg');
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    max-height: 100vh;
    background: #040216;
    transition: all .5s;
    z-index: 10;
    margin-top: -100vh;
}

.nav a  { 
    color: #FFFFFF; 
}

.nav a.active { 
    color: #5E6EFF; 
    font-weight: 700; 
}

.nav.active {
    margin-top: 0;
}

.circle-slider {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 340px;
    overflow: hidden;
}

.circle-slider-block {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: inline-block;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    transition: all .8s;
}

.circle-slider-icon {
    transition: all .8s;
}

.circle-slider-icon img {
    width: 60px;
}

.circle-slider-block.active {
    top: 50%;
    position: relative;
    transform: translateX(-50%) rotate(0deg) !important;
}
.circle-slider-block.active > .circle-slider-icon {
    transform: scale(2) !important;
}

.circle-slider-icon .circle-slider-text {
    opacity: 0;
    transition: all 1s;
    font-family: 'Syncopate';
    font-weight: 700;
}

.circle-slider-block.active > .circle-slider-icon > .circle-slider-text {
    opacity: 1;
    transform: scale(.7) !important;
    margin-top: 2px !important;
}


.circle-slider-arrow {
    position: absolute;
    bottom: 28%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(24px);
    padding: 8px;
    border-radius: 50%;
}

.circle-slider-arrow-left {
    left: 10%;
}
.circle-slider-arrow-right {
    right: 10%;
}

.genre-box {
    background: url('../assets/img/bg-body-genre.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 100px !important;
    padding-bottom: 50px !important;
    position: relative;
}

.genre-box-title {
    background: url('../assets/img/title-bg-genre.png') no-repeat;
    display: inline-block;
    padding:10px 60px 8px 40px;
    background-size: 100% 100%;
    position: absolute;
    left: -10px;
    top: 40px;
}

.genre-box-square {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.genre-image {
    position: relative;
    width: 150px;
    margin-top: -100px;
    z-index: 5;
}

.earn-box {
    background: url('../assets/img/bg-body-earn.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    position: relative;
}

.earn-image {
    position: relative;
    width: 60px;
    z-index: 5;
    margin-top: 20px;
}

/* `sm` applies to small devices (landscape phones, less than 576px) */
@media (min-width: 576px) {
    
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
    
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
    
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
    
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
    
}

/* `xxxl` applies to x-large devices (large desktops, less than 1900px) */
@media (min-width: 1900px) {
}
